<section data-ng-controller="ParametrosController" data-ng-init="toViewParametro()">
	<div class="page-header">
		<h1 data-ng-bind="parametro.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="parametro" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == parametro.user._id))">
			<a class="btn btn-success" href="/#!/parametros/{{parametro._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="parametro">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/parametros">
				<i class="glyphicon glyphicon-list"></i> List Parametros
			</a>
		</div>

	</div>

</section>
