<section data-ng-controller="ClientesController" data-ng-init="iniList()">
    <div class="page-header">
        <h1>Clientes</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/clientes/create">
        <i class="glyphicon glyphicon-open"></i> Nuevo Cliente
      </a>
    </div>

    <div>
        <table ng-table="tableParams" show-filter="true">
            <tr ng-repeat="cliente in $data">
                <td data-title="'Código'" sortable="'codigo'" filter="{ 'codigo': 'text' }">{{cliente.codigo}}</td>
                <td data-title="'Nombre'" sortable="'nombre'" filter="{ 'nombre': 'text' }">{{cliente.nombre}}</td>
                <td data-title="'Ruc'" sortable="'ruc'" >{{cliente.ruc}}</td>
                <td data-title="'Dirección'" sortable="'direccion'" filter="{ 'direccion': 'text' }">{{cliente.direccion}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/clientes/{{cliente._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/clientes/{{cliente._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="¿Está seguro de borrar un cliente?" ng-really-click="remove(cliente)" item="cliente">
                  				<span class="glyphicon glyphicon-remove-circle"></span>
                  			</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
