<section data-ng-controller="FecvensController" data-ng-init="toViewFecven()">
	<div class="page-header">
		<h1 data-ng-bind="fecven.name"></h1>
	</div>

	<div class="col-md-3">

		<form novalidate>
			<formly-form model="fecven" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == fecven.user._id))">
			<a class="btn btn-success" href="/#!/fecvens/{{fecven._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="fecven">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/fecvens">
				<i class="glyphicon glyphicon-list"></i> List Fecha de Vencimiento
			</a>
		</div>

	</div>

</section>
