<!--
<div class="form-group">
    <label class="control-label" for="codigo">Código</label>
    <div class="controls">
        <input type="text" data-ng-model="ficha.codigo" id="codigo" disabled="true">
    </div>
</div>
-->
<div class="form-group">
    <label class="control-label" for="codcli">IDENTIFICACIÓN DEL SOLICITANTE</label>
</div>
<div class="form-group">
    <div class="controls container-fluid">
<!--         <input type="text" data-ng-model="ficha.codcli" id="codcli" placeholder="CodCli">
        <a class="btn" title="Buscar Cliente" ng-click="buscarCliente()" item="busqueda">
          <span class="glyphicon glyphicon-search"></span>
        </a>
        <input type="text" class="control" data-ng-model="ficha.nomcli" id="nomcli" size="80" disabled> -->
        <label class="control-label">CLIENTE</label>
        <input type="text" size="50" ng-model="cliente" ng-model-options="modelOptions" 
        name="codcli" placeholder="Ubicar Cliente" autocomplete="off"  typeahead="cliente as cliente.nombre for cliente in getCliente($viewValue)" capitalize-first>

        <label class="control-label">TITULAR</label>
        <input type="text" size="50" ng-model="codtit" 
        name="codtit" placeholder="Ubicar Titular" autocomplete="off"  capitalize-first>

    </div>
</div>

<div class="form-group">
    <label class="control-label" for="codder">DERECHO</label>
    <div class="controls">
        <select name="DerechoSelect" ng-options="der._id as der.name for der in derechos" ng-model="derecho._id">
            <!-- <option ng-repeat="der in derechos" value="{{der._id}}">{{der.name}}</option> -->
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="codder">TIPO DE TRÁMITE</label>
    <div class="controls">
        <select name="TramiteSelect" ng-options="tra._id as tra.name for tra in tramites" ng-model="tramite._id">
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label">DATOS DE LA MARCA SOLICITADA </label>
    <div class="row">
        <div class="controls col-md-2">
            <label class="control-label" for="ficha.nomsigno">Nombre del Signo</label>
            <div class="controls">
                <input type="text" data-ng-model="ficha.nomsigno" id="nomsigno" capitalize-first>
            </div>
        </div>
    </div>
    <div class"row">
        <div class="controls col-md-8">
            <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="1MB">
            <img ng-hide="picFile || !ficha.image" ng-src="data:image/jpeg;base64,{{ficha.image}}" id="photo-id" width="200" />
            <!-- width="200" height="200" -->
            <i ng-show="form-ficha.file.$error.maxSize">Imagen muy grande 
                {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i>
            <img ngf-thumbnail="!picFile.$error && picFile" class="thumb">
            <button ng-click="picFile = null; ficha.image = ''" ng-show="picFile || ficha.image">Borrar</button>
			
			<img ng-hide="ficha.image && !ficha.archivo" ng-src="/img/{{ficha.archivo}}" id="img-id" width="200" />
			
        </div>
    </div>

	<div class="row">
		<div class="controls col-md-6">
			<label class="control-label" for="ficha.deslogo">DESCRIPCIÓN DEL LOGO</label>
			<div class="controls">
				<textarea ng-model="ficha.deslogo" rows=10 cols=40 id="deslogo"> </textarea>
			</div>
		</div>
	</div>
	
</div>


<div class="form-group">
    <div class="row">
        <div class="controls col-md-2">
            <label class="control-label" for="ficha.numexpediente">Número de Expediente</label>
            <div class="controls">
                <input type="text" data-ng-model="ficha.numexpediente" id="numexpediente"
                capitalize-first>
            </div>
        </div>
        <div class="controls col-md-2">
            <label class="control-label" for="ficha.numcertificado">Número de Certificado</label>
            <div class="controls">
                <input type="text" data-ng-model="ficha.numcertificado" id="numcertificado"
                capitalize-first>
            </div>
        </div>
        <div class="controls col-md-3">
            <label class="control-label" for="ficha.fechavenc">Fecha Vencimiento</label>
            <div class="dropdown">
                <a class="dropdown-toggle my-fechavenc" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                    <div class="input-append">
                        <input type="text" data-ng-model="ficha.fechavenc | date:'dd-MM-yyyy'"
                            ng-model-options="{ getterSetter: true}">
                        <span class="addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="ficha.fechavenc"
                                    data-datetimepicker-config="{ startView: 'day', minView: 'day', dropdownSelector: '.my-fechavenc' }"></datetimepicker>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="form-group">
    <label class="control-label">Productos que distingue</label>
    <div class="row">
        <div class="controls col-md-1">
            <label class="control-label" for="clase">Clase</label>
            <div class="controls">
                <select name="clases1" ng-model="clase" ng-options="o for o in clases" ng-change="changeClase(clase)">
                </select>
            </div>
        </div>
        <div class="controls col-md-2">
            <label class="control-label" for="clase">Sub Clase</label>
            <div class="controls">
                <div ng-dropdown-multiselect="" options="subclases" 
                    selected-model="subclase" extra-settings="setsubclase"
                    events="setsubclaseevent">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="controls col-md-6">
       <div class="CSSReport">
            <table >
                <tr> 
                    <td>Clase</td>
                    <td>Código</td>
                    <td>Nombre</td>
                    <td>Acción</td>
                </tr>
                <tr ng-repeat="item in ficha.subclases">
                    <td >{{item.clase}}</td>
                    <td>{{item.codigo}}</td>
                    <td>{{item.label}}</td>
                    <td>
                        <a class="btn btn-danger btn-sm" title="Borrar" ng-really-message="¿Está seguro de borrar esta subclase?" ng-really-click="borrarSubClase(item)" item="borrarsubclase">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label">PRIORIDAD EXTRANJERA</label>
    <div class="row">
        <div class="controls col-md-2">
            <label class="control-label" for="ficha.prinumero">Número</label>
            <div class="controls">
                <input type="text" ng-model="ficha.prinumero" id="prinumero" capitalize-first>
            </div>
        </div>
        <div class="controls col-md-3">
            <label class="control-label" for="ficha.prifecha">Fecha</label>
            <div class="dropdown">
                <a class="dropdown-toggle my-prifecha" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                    <div class="input-append">
                        <input type="text" data-ng-model="ficha.prifecha | date:'dd-MM-yyyy'"
                            ng-model-options="{ getterSetter: true}">
                        <span class="addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="ficha.prifecha"
                                    data-datetimepicker-config="{ startView: 'day', minView: 'day', dropdownSelector: '.my-prifecha' }"></datetimepicker>
                </ul>
            </div>
        </div>
        <div class="controls col-md-2">
            <label class="control-label" for="ficha.pripais">Pais</label>
            <div class="controls">
                <input type="text" ng-model="ficha.pripais" id="pripais" capitalize-first>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="ficha.interes">INTERÉS REAL PARA OPOSICIÓN ANDINA</label>
    <div class="controls">
        <input type="text" ng-model="ficha.interes" id="interes" capitalize-first>
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="ficha.estado">ESTADO</label>
    <div class="controls">
		<textarea ng-model="ficha.estado" rows=10 cols=40 id="estado"> </textarea>
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="ficha.obs">OBSERVACION</label>
    <div class="controls">
		<textarea ng-model="ficha.obs" rows=10 cols=40 id="obs"> </textarea>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="ficha.deslogo">CONCLUIDO</label>
    <div class="controls">
        <input type="checkbox" ng-model="ficha.finalizado" id="terminado">
    </div>
</div>

<div data-ng-show="error" class="alert alert-danger form-group">
<span ng-show="picFile.result">Se envió la imagen</span>
<strong data-ng-bind="error"></strong>
</div>

<div class="form-group">
    <!--<input type="submit" value="Actualizar" class="btn btn-default" ng-click="uploadPic (picFile)"  
                    ng-disable="!form-ficha.$valid"
     /> -->
    <button class="btn btn-primary" ng-click="uploadPic(picFile, cliente, codtit)">
        Grabar
    </button>
    <a class="btn btn-secondary"
    ng-really-message="Desea salir sin grabar?" ng-really-click="iralista()">
        <i class="glyphicon glyphicon-list"></i> Lista Fichas
    </a>
</div>

<div data-ng-show="error" class="text-danger">
  <strong data-ng-bind="error"></strong>
</div>

