<section data-ng-controller="FichasController" ng-init="pdf1()">
<div class="page-header">
    <h3>RELACIÓN DE MARCAS REGISTRADAS</h3>
    <h3>ACTUALIZADO AL: {{fechaactual | date: 'dd-MM-yyyy'}}</h3>
    <div class="row">
        <div class="col-md-1">CLIENTE</div>
        <div class="col-md-4">{{cliente}}</div>
    </div>
    <div class="row">
            <div class="col-md-1">DESDE</div>
            <div class="col-md-4">{{desde | date: 'dd-MM-yyyy'}}</div>
            <div class="col-md-1">HASTA</div>
            <div class="col-md-4">{{hasta | date: 'dd-MM-yyyy'}}</div>
    </div>
<div class="CSSReport">
    <table >
        <tr>
            <td style="align-text=center">
                #
            </td>
            <td>
                Código
            </td>
            <td>
                Marca
            </td>
            <td>
                Logo
            </td>
            <td >
                Clase
            </td>
            <td>
                Certificado
            </td>
            <td>
                Fecha
            </td>
        </tr>
        <tr ng-repeat="item in result">
            <td style="align-text=center">
                {{item.num}}
            </td>
            <td>
                {{item.codigo}}
            </td>
            <td >
                {{item.nomsigno}}
            </td>
            <td>
                <img ng-hide="!item.archivo" ng-src="/img/{{item.archivo}}" id="img-id" width="50" onerror='this.style.display = "none"'/>						
            </td>
            <td>
                <ul class="list-inline">
                    <li ng-repeat="clas in item.clases">
                        {{clas}}
                    </li>
                </ul>
            </td>
            <td>
                {{item.numcertificado}}
            </td>
            <td ng-switch on="tipoFecha">
                {{item.fecha | date: 'dd-MM-yyyy'}}
            </td>
        </tr>
    </table>
</div>
</section>